page-top
  div.wrap-page
    util-header
    module-hiro
    module-about-service
    module-feature
    module-customer-voice
    module-cooperates
    module-member
    module-contact
    util-footer

    

  style(scoped, type='less').
    :scope {
      .wrap-page {
        position: relative;
        display: block;
        width: 100%;
      }
    }

  script.

    var self = this;


    this.on('mount', function(){

    });
    