atom-button-contact
  a.wrap-atom.f.fh
    p お問い合わせはこちら
        
  style(scoped, type='less').
    :scope {
      cursor: pointer;
      display: block;
      width: 240px;
      height: 48px;
      background: #fff;
      border-radius: 30px;
      .wrap-atom {
        height: 48px;
        p {
          text-align: center;
          color: #005BE9;
          font-weight: 600;
          font-size: 16px;
        }
      }
    }

  script.

    var self = this;

    this.on('mount', function(){

    });
    