util-footer
  div.wrap-util.pt100.pb30
    p.copy 2019 Publink. All Rights Reserved.

  style(scoped, type='less').
    :scope {
      .copy {
        text-align: center;
        font-size: 12px;
      }
    }

  script.

    var self = this;

    this.on('mount', function(){

    });