module-cooperates
  div.wrap-module
    h2 module-cooperates

  style(scoped, type='less').
    :scope {
      .wrap-module {
        display: block;
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
      }
    }

  script.

    var self = this;

    this.on('mount', function(){

    });
    